
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
:root{
    /*--font family--*/
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', sans-serif;
    --font-design: 'Satisfy',cursive;
    --font-brand: 'Margarine', sans-serif;
   --transition: all 0.3s linear;
    

}
html{
    scroll-behavior:smooth;
}
h1,h2,h3,h4{
    letter-spacing: 0.5px;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1{
    font-size: 3rem;;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.75rem;;
}

a{
    text-decoration: none;
}
body{
    font-family: var(--font-primary);
    font-size: 0.875rem;
    background-color:white;
    color:grey;
    line-height: 1.5;
}
.btn{
    background-color: red;
    color:white;
    padding:0.375rem 0.75rem;
    letter-spacing: 0.5px;
    display: inline-block;
    font-weight: 400;
    transition: var(--transition);
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.clearfix::after,
.clearfix::before{
    content:"";
    clear:both;
    display:table;
}
.section-cen{
    padding:4rem;
    width:85vw;
    margin:0 auto;
    max-width:1170px;
}
@media screen and ( min-width:992px){
    .section-cen{
        width:95%;
        padding: 4rem 1rem;
    }
}
.section-title h3{
font-family:var(--font-design);
color:red;
font-size: 2rm;
}
.section-title{
    margin-bottom: 2000rm;
}
.nav-btn svg{
    fill:rgb(242, 24, 24);
position:fixed;
top:5%;
left: 5%;
cursor:pointer;
z-index:1;
}
#nav-check{
    display:none;
}
#nav-check:checked ~ .navbar{
    transform:translateX(0);
}
    #nav-check:checked ~ .overaly{
        display:block;
    }
.overaly{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    
    z-index: 2;
    display:none;
   
}
.navbar{
    position:fixed;
    background-color: black;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: translateX(-100%);
    transition:var(--transition);
    z-index:3;
}
.navbar h3{
    padding:1rem;
    color:white;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color:transparent;
    background-image:linear-gradient(180deg,red 25%,orange);
    background-clip: text;
}
.navbar-header img{
    width:100px;
    height:auto;
    display:block;
    margin:0 auto;
}
.nav-close{
    position:absolute;
    right:0;
    top:5px;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
}
.nav-close svg{
    cursor:pointer;
    fill:grey;
    transition:var(--transition);
}
.nav-close:hover svg{
    fill:white;
}
.nav-items{
    text-decoration: none;
    list-style: none;
}
.nav-links{
    display:block;
    color:white;
    text-transform:uppercase;
    font-size:1.2rem;
    padding:0.75rem 1rem;
    letter-spacing: 0.5px;
    transition:var(--transition);
}
.nav-links:hover{
    background-color: rgb(240, 46, 46);
    padding-left: 1.5rem;
    border-left:0.5rem solid yellow;
    border-radius: 0ch;
}
@media screen and (min-width:768px){
.navbar{
width:35%;
max-width:25rem;
}
}
/*--header styles--*/
.header{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(svg/nonveg.webp)center/cover no-repeat fixed;
}
.banner{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.banner h2{
    font-family:var(--font-design);
    color:transparent;
    background-image: linear-gradient(180deg,red 25%,orange);
    background-clip: text;
}
.banner h1{
    font-family: var(--font-brand);
    color:white;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    font-weight: 400;
    text-shadow: 2px 5px 5px rgb(252, 67, 25);
    animation: flame infinite;
}
@keyframes flame{
    0%,100%{
        text-shadow: 2px 5px 5px rgb(252, 67, 25);
    }
    50%{
        text-shadow: 2px 5px 15px rgb(255, 94, 0);
    }
}
.banner-btn{
font-size:1rem;
padding: 0.75rem 2rem;
border-radius: 1000px;
background-image: linear-gradient(180deg,red 80%,orange);
}
.banner-btn:hover{
    outline: 0.125rem solid red;
    outline-offset:0.25rem;
}
/*-------second---*/
.content-div{
    height:0.5rem;
    background-image:linear-gradient(to left,red,orange,red);
}
.features {
    background-color: #f1f5f8;
    cursor:pointer;
   
}
.feature{
    padding:2.5rem 0;
    text-align:center;
    transition:var(--transition);
}
.feature-icon svg{
    transition:var(--transition);
    color:#0d0d0d
}
.feature-title{
    text-transform:uppercase;
}
.feature-text{
    color:#617d98;
    max-width:17rem;
    margin:0 auto;
}
.feature:hover{
background-color:white;
box-shadow:0 2px red;
}
.feature:hover .feature-title{
    color:red;
}
.feature:hover .feature-icon svg{
    fill:red;
    transform: translateY(-5px);
}
@media screen and (min-width:576px){
    .feature{
        width:50%;
        float:left;
    }
}
@media screen and (min-width:1200px){
    .feature{
        width: 25%;
    }
}
/*----about---*/
.about-img,
.about-info{
    padding:2rem 0;
}
.about-pic-contain{
    background-color:red;
    max-width:30rem;
    max-height: 22rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-radius:5px;
    overflow:hidden;
}
.about-pic{
    transition: var(--transition);
}
.about-pic-contain:hover .about-pic{
    transform:scale(1.2);
    opacity:0.5;
}
.about-text{
    max-width:26rem;
    color:rgb(147, 145, 177);;
}
@media screen and (min-width:992px){
    .about-img,
    .about-info{
        float:left;
        width:50%;
    }
    .about-info{
        padding-left:2rem;
    }
}
/*--- products--*/
.products{
    background-color:rgb(232, 229, 229)
}
.products .product-info{
    padding: 2rem;
}
.product-text{
    color:rgb(144, 142, 142);
    max-width:26rem;
}
.product-title{
    font-size:1.02rem;
}
.product-price{
    color:red;
    font-size:1.01rem;
}
.product-img{
    border-radius:5px;
    height:17rem;
    max-width:20rem;
    object-fit:fill;
    margin-bottom:2rem;
    box-shadow:0px 6px 3px rgba(0,0,0,0.2);
    transition:var(--transition);
}
.product-img1{
    border-radius:5px;
    height:17rem;
    max-width:17rem;
    object-fit:fill;
    margin-bottom:2rem;
    box-shadow:0px 6px 3px rgba(0,0,0,0.2);
    transition:var(--transition);
}

.product-img:hover,.product-img1:hover{
    box-shadow:0px 6px 3px rgba(0,0,0,0.3);
    transform:translateY(-2px);
}
@media screen and (min-width:768px){
    .product{
        float:left;
        width:50%;
        padding-right:2rem;
    }
}
@media screen and (min-width:992px){
    .product{
        width:33.33%;
    }
}
@media screen and (min-width:1200px){
    .product-info{
        float:left;
        width:30%;
    }
    .product-inv{
        float:right;
        width:70%;
    }
    .product{
        margin: 0rem;
        padding: 0rem 1rem;
    }
}
/*---service--*/
.service-title{
    text-align:center;
    margin-top:4rem;
    margin-bottom:-4rem;
}
.service-card{
    margin:2rem 0;
    background-color:rgb(236, 234, 234);
    border-radius:5px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:var(--transition);
}
.service-card:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
.service-img{
     width:100%;
height:17rem;
border-top-left-radius:5px ;
border-top-right-radius:5px;
object-fit:fill;
}
.service-info{
    text-align:center;
    padding:3rem 1rem 2.5rem 1rem;
}
.service-info p{
    max-width:20rem;
    margin:0 auto;
    color:rgb(147, 145, 177);
}
.service-btn{
    font-size:0.75rem;
    text-transform:capitalize;
    padding:0.4rem 0.8rem;
    border-radius:3px;
    font-weight:400;
    margin-top:1.25rem;
}
.service-img-con{
    position:relative;
}
.service-icon{
    height:60px;
    width:60px;
    background-color:red;
    padding:0.25rem 0.6rem;
    border-radius:50%;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%, 50%);
    display:grid;
    place-items:center;
    border:0.375rem solid rgb(236, 234, 234);
}
.service-icon svg{
    fill:white;
    height:30px;
    width:30px;
}
@media screen and (min-width:768px){
  .service-card{
    width:45%;
    float:left;
margin-right:5%;
  }  
}
@media screen and (min-width:992px){
  .service-card{
    width:30%;
    float:left;
margin-right:3.33%;
  }  
}
/*---contact--*/
.contact{
    background-color:rgb(235, 235, 237);
}
.contact-info,.contact-form{
    margin:1rem 0;
}
.contact-title{
    display:flex;
    align-items:center;
    gap:5px;
    font-weight: 500%;
    margin-bottom:-0.05rem;
}
.contact-text{
color:rgb(147, 145, 177);
}
.contact-title svg{
fill:rgb(92, 91, 101);
}
.contact-item{
    margin:1.2rem;
}
.contact-form{
    background-color:white;
    padding:1.3rem;
    max-width:35rem;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    border-radius:5px;
}
.contact-form h3{
    font-family:var(--font-design);
    color:red;
    font-size:1.75rem;
    text-align:center;
}
.form-grp{
    height:35px;
    margin-bottom:20px; 
   position:relative;
}
.form-ctr{
    width:100%;
    height:100%;
    background:none;
    border:1px solid rgb(185, 185, 207);
    outline:none;
    padding:16px;
    border-radius:3px;
    resize:none;
    font-family:var(--font-secondary);


    z-index: 1;
    position: absolute;
    top:0;
    left:0;
}
textarea.form-ctr{
    height:100px;
}
.form-lbl{
    position: absolute;
    left:7px;
    top:7px;
    color:rgb(185, 185, 207);
    background-color:white;
    padding:0 6px;
    font-size:14px;
    transition:var(--transition);
}
.form-ctr:focus+ .form-lbl{
    top:-10px;
    color:red;
    z-index: 2;
}
.form-ctr:focus{
    border:1px solid red;
}
.form-ctr:not(:focus):valid+.form-lbl{
    top:-10px;
    z-index:2;
}
.submit-btn{
    padding:0.7rem 1rem;
    margin-top:3.5rem;
}
@media screen and (min-width:992px){
    .contact-form, .contact-info{
        float:left;
        width:50%;
    }
}
/*--footer--*/
.footer{
    background-color:rgb(42, 39, 39);
    text-align:center;
    padding:50px;
}
.social-icons{
   padding:25px;
}
.social-icon svg{
    height:32px;
    width:32px;
    fill:white;
    margin-right:1rem;
    transition:var(--transition);
}
.footer-text{
    color:white;
    text-transform:capitalize;
    font-weight:400;
}
.social-icon svg:hover{
    fill:red;
    transform:scale(1.2);
}
.company{
    color:red;
}
body::-webkit-scrollbar{
    width:10px;
}

body::-webkit-scrollbar-thumb {
    background:linear-gradient(to bottom,red,orange);
    border-radius:5px;
}
body::-webkit-scrollbar-track{
    background: rgb(238, 234, 234);
}   
body::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(to bottom,orange,red);
}
body::-webkit-scrollbar-thumb:active{
    background:linear-gradient(to bottom,orange,red);
}